# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build
lib/
.esbuild/
.serverless/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

